/* Basic */

@font-face {
  font-family: 'TTTGB-Medium';
  src: url('./TTTGB-Medium.ttf');
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  background: #fff;
  overflow: hidden;
}

body.is-preload *,
body.is-preload *:before,
body.is-preload *:after {
  animation: none !important;
  transition: none !important;
}

body,
input,
select,
textarea {
  color: #fff;
  font-size: 15pt;
  font-weight: 300 !important;
  font-family: 'PingFangSC-Regular', 'helvetica neue', tahoma, 'PingFang SC',
    'microsoft yahei', arial, 'hiragino sans gb', sans-serif;
  letter-spacing: -0.025em;
  line-height: 1.75em;
}

a {
  transition: border-color 0.2s ease-in-out;
  border-bottom: dotted 1px;
  color: inherit;
  outline: 0;
  text-decoration: none;
}

a:hover {
  border-color: transparent;
}

/* Wrapper */

#wrapper {
  animation: wrapper 3s forwards;
  height: 100%;
  left: 0;
  opacity: 0;
  position: fixed;
  top: 0;
  width: 100%;
}

@keyframes wrapper {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

/* BG */

#bg {
  animation: bg 60s linear infinite;
  backface-visibility: hidden;
  transform: translate3d(0, 0, 0);
  background: url(bg.jpg?v2) top left;
  background-repeat: repeat-x;
  background-size: 100% 100%;
  width: 3840px;
  height: 100%;
  left: 0;
  opacity: 1;
  position: fixed;
  top: 0;
}

@keyframes bg {
  0% {
    transform: translate3d(0, 0, 0);
  }

  100% {
    transform: translate3d(-1920px, 0, 0);
  }
}

/* Overlay */

#overlay {
  animation: overlay 1.5s 1.5s forwards;
  background-attachment: fixed, fixed;
  background-image: url(pattern.png), url(overlay.svg);
  background-position: top left, center center;
  background-repeat: repeat, no-repeat;
  background-size: auto, cover;
  height: 100%;
  left: 0;
  opacity: 0;
  position: fixed;
  top: 0;
  width: 100%;
}

@keyframes overlay {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

/* Main */

#main {
  height: 100%;
  left: 0;
  position: fixed;
  text-align: center;
  top: 0;
  width: 100%;
}

#main:before {
  content: '';
  display: inline-block;
  height: 100%;
  margin-right: 0;
  vertical-align: middle;
  width: 1px;
}

/* Header */

#header {
  animation: header 1s 2.25s forwards;
  backface-visibility: hidden;
  transform: translate3d(0, 0, 0);
  cursor: default;
  display: inline-block;
  opacity: 0;
  position: relative;
  text-align: center;
  top: -5em;
  vertical-align: middle;
  width: 90%;
}

#header h1 {
  font-size: 4.35em;
  font-weight: 900;
  font-family: 'TTTGB-Medium';
  letter-spacing: -0.035em;
  line-height: 1em;
}

#header p {
  font-size: 1.25em;
  font-weight: 600;
  margin: 0.75em 0 0.25em 0;
  opacity: 0.75;
}

#header nav ul {
  margin: 1.5em 0 0 0;
  padding-left: 0;
}

#header nav li {
  animation: nav-item 0.5s ease-in-out forwards;
  backface-visibility: hidden;
  transform: translate3d(0, 0, 0);
  display: inline-block;
  opacity: 0;
  position: relative;
  top: 0;
  margin: 1em;
}

#header nav li:nth-child(1) {
  animation-delay: 2.5s;
}

#header nav li:nth-child(2) {
  animation-delay: 2.75s;
}

#header nav li:nth-child(3) {
  animation-delay: 3s;
}

#header nav li:nth-child(4) {
  animation-delay: 3.25s;
}

#header nav li:nth-child(5) {
  animation-delay: 3.5s;
}

#header nav li:nth-child(6) {
  animation-delay: 3.75s;
}

#header nav li:nth-child(7) {
  animation-delay: 4s;
}

#header nav li:nth-child(8) {
  animation-delay: 4.25s;
}

#header nav li:nth-child(9) {
  animation-delay: 4.5s;
}

#header nav li:nth-child(10) {
  animation-delay: 4.75s;
}

#header nav a {
  border-bottom: dotted 1px transparent;
  display: inline-block;
}

#header nav a:hover,
#header nav a:active {
  border-bottom: dotted 1px #fff;
}

@keyframes header {
  0% {
    transform: translate3d(0, 1em, 0);
    opacity: 0;
  }

  100% {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

@keyframes nav-item {
  0% {
    transform: translate3d(0, 1em, 0);
    opacity: 0;
  }

  100% {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

/* Footer */

#footer {
  background-image: -moz-linear-gradient(
    top,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0.5) 75%
  );
  background-image: -webkit-linear-gradient(
    top,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0.5) 75%
  );
  background-image: -ms-linear-gradient(
    top,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0.5) 75%
  );
  background-image: linear-gradient(
    top,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0.5) 75%
  );
  bottom: 0;
  cursor: default;
  height: 6em;
  left: 0;
  line-height: 8em;
  position: absolute;
  text-align: center;
  width: 100%;
}
