/* Mobile */

@media screen and (max-width: 960px) {
  body,
  input,
  select,
  textarea {
    font-size: 13pt;
  }
}

@media screen and (max-width: 720px) {
  #header h1 {
    font-size: 3em;
  }
  #header p {
    font-size: 1em;
    margin-bottom: 3em;
  }
  #header nav ul {
    width: 120px;
    margin: 1.5em auto 0 auto;
    text-align: left;
  }
}
